{%extends 'layout.html'%}
{%block main%}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">首页</a></li>
    <li class="breadcrumb-item active" aria-current="page">分类列表</li>
  </ol>
<h3>分类列表</h3>

<table class="table table-hover table-striped">
    <tr>
        <th>ID</th>
        <th>分类名称</th>
        <th>操作</th>
    </tr>
    {% for category in categories %}
    <tr>
        <td>{{category._id.toString()}}</td>
        <td>{{category.name}}</td>
        <td>
           <a href='/admin/category/edit?id={{category._id.toString()}}'>修改</a>
           <a href='/admin/category/delete?id={{category._id.toString()}}'>删除</a>
        </td>
    </tr>
    {% endfor %}
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="/admin/category?page={{page-1}}" aria-label="Previous">
            共{{count}}条数据
            </a>
          </li>
      <li class="page-item">
        <a class="page-link" href="/admin/category?page={{page-1}}" aria-label="Previous">
         <span aria-hidden="true">&laquo;</span> 上一页
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/admin/category?page={{page-1}}" aria-label="Previous">
        第{{page}}页 
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/admin/category?page={{page+1}}" aria-label="Next">
            下一页<span aria-hidden="true">&raquo;</span> 
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/admin/category?page={{page-1}}" aria-label="Previous">
          共{{pages}}页
        </a>
      </li>
    </ul>
  </nav>
{%endblock%}